* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
}

.container {
  align-items: center;
  max-width: 960px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 64px;
  margin-bottom: 10px;
  color: #F3167D;
}

p {
  font-size: 24px;
  margin-top: 0;
  color: #0583F2;
}

main {
  padding: 20px;
}

.file-upload.active {
  border-color: #000;
}


.file-upload {
  text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  padding: 3rem 9rem;
  position: relative;
  cursor: pointer;
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #707984;
}

.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
